# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js & Production
/.next/
/out/
/build
.vercel

# TypeScript & Debug
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing & Artifacts
/coverage/
/playwright-report/
/test-results/
bin.txt

# Environment variables & Secrets
.env
.env.local
.env*.local
*.pem

# Database backups
backup*.sql
*.backup

# Misc
.DS_Store
